body {
    background-color: rgba(48,48,48,1);
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto auto;
}

h1{
    margin-top: 0px;
    background-color: rgba(48,48,48,1);
    text-align: center;
    font-size: 40px;
}

header { 
    grid-column: 2;
    grid-row: 1;
    color: rgb(24, 84, 144);
    background-image: url("https://images.unsplash.com/photo-1587202372616-b43abea06c2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80");
    background-repeat: no-repeat;

    padding-bottom: 450px;
}

main {
    margin-top: 350px;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    height: auto;
    width: auto;

    color: rgba(140,140,140,0.9);
}

footer {
    grid-column: 1/-1;
    grid-row: 3;
    height: 130px;
    background-color: rgb(24, 84, 144);
}

a {
    color: rgb(200, 200, 200);
}

a:hover {
    color: red;
}